$dark-blue: #313146;
$dark-green: #313d46;
$dark-gray: #3f474c;
$dark: $dark-green;

$light-text: #d2d2d2;
$dark-text: $dark;

$transparent-light: transparentize($light-text, .92);

$red: indianred;
$green: mediumseagreen;
$color: $green;
$blue: steelblue;


.red {
  color: indianred;
}
.color{
  color: $color;
}
