@import 'colors';
$width: 600px;

body {
  font-family: 'GTEestiDisplay-Medium',-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  background-color: $dark;
  color: $light-text;
  margin: 2em 0;
}
a {
  text-decoration: none;
  color: $light-text;
  border-bottom: 2px solid transparentize($light-text, .8);
  transition: 0.15s all;
  padding: .1rem 0;

  &:hover, &.current {
    border-bottom: 2px solid $light-text;
  }
}
p, label, a {
  font-weight: 300;
  font-size: 1.06rem;
}
p {
  margin: 1.5rem 0;
}
.content {
  width: $width;
  margin: 0 auto;

  h1{
    text-align: center;
  }
}
input{
  display: block;
  padding: 10px 12px;
  margin: 12px 0 20px;
  border: none;
  font-size: 1em;
  background-color: $transparent-light;
  color: $light-text;
  width: 100%;
  box-sizing: border-box;

  &:focus{
    outline: 2px solid $blue;
    outline-offset: 1px;
  }
}
input[type='submit']{
  background-color: $color;
  color: $dark;
  font-weight: 600;
  margin: 2.5rem 0 .6rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .2s;

  &:focus, &:hover{
    background-color: transparentize($color, .1);
    outline: none;
  }
}
form{
  width: 50%;
  margin: 0 auto;
  background-color: $transparent-light;
  padding: 30px;
}
nav{
  width: $width;
  margin: 0 auto 30px;
  margin-left: calc(50% - #{$width / 2});
  display: inline-block;
  text-align: right;

  .logo a{
    font-size: 1.7rem;
    float: left;
    border: none;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
  }
  li{
    float: left;
    font-size: 1.1em;
  }
  a{
    padding: 6px 3px;
    margin: 6px;
  }
}

.flash{
  padding: 8px 10px;
  color: $light-text;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);

  &.error{
    $bg: $red;
    background-color: $red;
    &::before{
      content: '!';
      color: $bg;
    }
  }

  &.success{
    $bg: $green;
    background-color: $bg;
    color: $dark;
    text-shadow: none;
    &::before{
      content: '✓';
      color: $bg;
      background-color: $dark;
    }
  }

  &.info{
    $bg: $blue;
    background-color: $bg;
    &::before{
      content: 'i';
      color: $bg;
    }
  }

  &::before {
    display: inline-block;
    background-color: $light-text;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: $blue;
    margin-right: 14px;
    text-shadow: none;
  }
}

.red {
  color: indianred;
}
.color{
  color: $color;
}
