@import '../colors';
@import '../general';

$dark-menu: rgba(0, 0, 0, 0.20);
$menu-border: rgba(0, 0, 0, 0.25);

header {
  background-color: $dark-menu;
  border-bottom: 1px solid $menu-border;
  padding: 8px 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  .logo{
    float: left;
  }
  .right{
    float: right;
  }
}

div.side {
  background-color: $dark-menu;
  padding: 20px;
  float: left;
}

div.content{
  float: left;
}
