@import '../colors';
@import '../general';

$dark-menu: rgba(0, 0, 0, 0.20);
$menu-border: 1px solid rgba(0, 0, 0, 0.3);

body{
  background-color: #3f474c;
}
div, header{
  box-sizing: border-box;
}
html{
  overflow: hidden;
}

$header-height: 60px;
header {
  background-color: $dark-menu;
  border-bottom: $menu-border;
  float: left;
  width: 100%;
  line-height: $header-height;

  .logo{
    padding: 0 20px;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    a {font-size: initial;}
  }
  .name{
    float: right;
    font-weight: 100;
    padding: 0 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    min-width: 50px;
    cursor: pointer;
  }
}

$side-width: 100px;
div.side {
  background-color: $dark-menu;
  float: left;
  height: calc(100vh - #{$header-height});
  border-right: $menu-border;
  width: $side-width;

  a{
    border: none;
    width: 100%;
    display: block;
  }
  .link{
    padding: 10px;
    text-align: center;
    border-bottom: $menu-border;

    &.current {
      background-color: rgba(0, 0, 0, 0.22);
    }
  }
  .text{
    font-size: 1.1rem;
    font-weight: 100;
    margin: 5px 0;
  }
  .icon{
    width: 30px;
    vertical-align: middle;
    // margin-right: 10px;
    opacity: .8;
  }
}

div.content{
  float: left;
  width: calc(100% - #{$side-width});
  height: calc(100vh - #{$header-height});
  overflow-y: scroll;
  padding: 30px;
}
