@import '../colors';
@import '../general';

//$dark-menu: #273138;
$dark-menu: #191f23;
$darkish-menu: #404B54;
$menu-border: 1px solid rgba(0, 0, 0, 0.3);

body{
  // background-color: $dark;
  background-color: whitesmoke;
  color: $dark-menu;
}
div, header{
  box-sizing: border-box;
}
html{
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 300;
  // color: $color;
}

$header-height: 60px;
header {
  background-color: $dark-menu;
  float: left;
  width: 100%;
  line-height: $header-height;

  .logo{
    padding: 0 20px;
    float: left;
    font-size: 1.5rem;
    font-weight: 300;
    a {font-size: initial;}
  }
  .name{
    float: right;
    font-weight: 100;
    padding: 0 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    min-width: 50px;
    color: $light-text;
    cursor: pointer;
  }
}

div.expand-menu {
    position: fixed;
    top: $header-height;
    right: 5px;
    background-color: #e6e6e6;
    border: 1px solid lightgray;
    z-index: 20;

    a{
      color: #333;
      border: none;
      display: block;
      padding: 10px 30px;
    }
}

$side-width: 110px;
div.side {
  background-color: $darkish-menu;
  position: fixed;
  top: $header-height;
  bottom: 0;
  width: $side-width;

  a{
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: $menu-border;
    box-sizing: border-box;

    &.current {
      background-color: rgba(0, 0, 0, 0.22);
    }
  }
  .text{
    font-size: 1.1rem;
    font-weight: 100;
    margin: 5px 0;
  }
  .icon{
    width: 30px;
    vertical-align: middle;
    opacity: .8;
  }
}

div.content{
  overflow-y: scroll;
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: $side-width;
}

div.center{
  width: 960px;
  margin: 0 auto;
}
