.red {
  color: indianred; }

.color {
  color: mediumseagreen; }

body {
  font-family: 'GTEestiDisplay-Medium',-apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen','Ubuntu','Cantarell','Fira Sans','Droid Sans','Helvetica Neue',sans-serif;
  background-color: #313d46;
  color: #d2d2d2;
  margin: 0; }

a {
  text-decoration: none;
  color: #d2d2d2;
  border-bottom: 2px solid rgba(210, 210, 210, 0.2);
  transition: 0.15s all;
  padding: .1rem 0; }
  a:hover, a.current {
    border-bottom: 2px solid #d2d2d2; }

.logo a {
  font-size: 1.7rem;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: 300; }

p, label, a {
  font-weight: 300;
  font-size: 1.06rem; }

p {
  margin: 1.5rem 0; }

body {
  background-color: #3f474c; }

div, header {
  box-sizing: border-box; }

html {
  overflow: hidden; }

header {
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  float: left;
  width: 100%;
  line-height: 60px; }
  header .logo {
    padding: 0 20px;
    float: left;
    font-size: 1.5rem;
    font-weight: 300; }
    header .logo a {
      font-size: initial; }
  header .name {
    float: right;
    font-weight: 100;
    padding: 0 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.6);
    min-width: 50px;
    cursor: pointer; }

div.side {
  background-color: rgba(0, 0, 0, 0.2);
  float: left;
  height: calc(100vh - 60px);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  width: 110px; }
  div.side a {
    width: 100%;
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box; }
    div.side a.current {
      background-color: rgba(0, 0, 0, 0.22); }
  div.side .text {
    font-size: 1.1rem;
    font-weight: 100;
    margin: 5px 0; }
  div.side .icon {
    width: 30px;
    vertical-align: middle;
    opacity: .8; }

div.content {
  float: left;
  width: calc(100% - 110px);
  height: calc(100vh - 60px);
  overflow-y: scroll;
  padding: 30px; }
