<h1>Account Settings</h1>

<div class="part">
  <form class="" action="/user/update" method="post">
    <ul>
      <li>
        <label for="name">Name:</label>
        <input type="text" name="name" value="" id="name-input">
      </li>
      <li>
        <label for="email">Email:</label>
        <input type="text" name="email" value="" id="email-input">
      </li>
    </ul>
    <button type="submit" name="button">Save</button>
  </form>
</div>
<div class="part">
  <form class="" action="/user/update_place_id" method="post">
    <label for="placeID">Google Place ID:</label>
    <input type="text" name="placeID" value="" id="place-id">
    <button type="submit" name="button">Save</button>
  </form>
</div>

<a href="/signout" style="float: left; clear: both; margin-top: 60px;"><button>Logout</button></a>

<script src="/js/settings.js"></script>
