<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Layout!</title>
  </head>
  <body>
    <% include partials/nav %>
    <div class="content">
      <% include partials/flash %>
      <%- body %>
    </div>
    <footer>
      <script> </script><%# Bugfix for "CSS explode" bug %>
      <%# https://bugs.chromium.org/p/chromium/issues/detail?id=332189 %>
    </footer>
  </body>
</html>
