<h1>Log In</h1>

<form action="/auth/login" method="post">
  <label for="email">Email</label>
  <input name="email" type="email">
  <label for="password">Password</label>
  <input name="password" type="password">
  <input type="submit" value="Submit">
  <p>Need an account? <a href="/signup">Create an account</a></p>
</form>
