<% include partials/top  %>

<h1>Sign Up</h1>

<form action="/auth/signup" method="post">
  <label for="email">Email</label>
  <input name="email" type="email">
  <label for="password">Password</label>
  <input name="password" type="password">
  <p>Already have an account? <a href="/users/login">Log in here</a></p>
</form>

<% include partials/bottom  %>
