<h1>Sign Up</h1>

<form action="/signup" method="post">
  <label for="name">Name</label>
  <input name="name" type="text">

  <label for="email">Email address</label>
  <input name="email" type="email">

  <br>

  <label for="password">Create a password</label>
  <input name="password" type="password">

  <label for="password_confirm">Confirm your password</label>
  <input name="password_confirm" type="password">

  <input type="submit" name="" value="Submit">
  <p>Already have an account? <a href="/login">Log in</a></p>
</form>
