<%
var loginLink = '/login';
var signupLink = '/signup';

var loginClass = staticHelper.currentPage(loginLink, req);
var signupClass = staticHelper.currentPage(signupLink, req);
%>

<nav>
  <div class="logo"><a href="/">Review <span class="color">Norm</span></a></div>
  <ul>
      <li><a href="<%= loginLink %>" class="<%= loginClass %>">Log In</a></li>
      <li><a href="<%= signupLink %>" class="<%= signupClass %>">Sign Up</a></li>
  </ul>
</nav>
