<nav>
  <div class="logo">Review Norm</div>
  <ul>
    <% for (var i = 0; i < navData.length; i++) { %>
      <% var d = navData[i];  %>
      <li><a href="<%= d.link %>"><%= d.title %></a></li>
    <% } %>
  </ul>
</nav>
