<style media="screen"> p{text-align: center;} </style>

<h1>Sign Up</h1>

<form action="/signup" method="post">
  <label for="name">Name</label>
  <input name="name" type="text">

  <label for="email">Email</label>
  <input name="email" type="email">

  <label for="password">Password</label>
  <input name="password" type="password">

  <input type="submit" name="" value="Submit">
</form>

<p>Already have an account? <a href="/login">Log in</a></p>
